<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTMXOLOGY web-components example</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" value="HTMXOLOGY web-components example" />
    <meta name="keywords" value="htmxology, htmx, ssr, example" />
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body hx-boost="true">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          {{ todo_list_element_create_form(BackendName::A)|safe }}
          {{ todo_list_a|safe }}
        </div>
        <div class="col-md-6">
          {{ todo_list_element_create_form(BackendName::B)|safe }}
          {{ todo_list_b|safe }}
        </div>
      </div>
    </div>
  </body>
</html>
