<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HTMXOLOGY blocks example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" value="HTMXOLOGY full example">
        <meta name="keywords" value="htmxology, htmx, ssr, example">
        <script src="https://unpkg.com/htmx.org@2.0.3"
                integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body hx-boost="true" hx-ext="preload">
        <div class="flex h-screen bg-gray-100" preload="mouseover">
            <!-- sidebar -->
            <div class="hidden md:flex flex-col w-64 bg-gray-800">
                <div class="flex items-center justify-center h-16 bg-gray-900">
                    <span class="text-white font-bold uppercase">Navigation</span>
                </div>
                <div class="flex flex-col flex-1 overflow-y-auto" id="menu">{{ menu|safe }}</div>
            </div>
            <!-- Main content -->
            <div class="flex flex-col flex-1 overflow-y-auto">
                <div class="flex items-center justify-between h-16 bg-white border-b border-gray-200">
                    <div class="flex items-center px-4">
                        <button class="text-gray-500 focus:outline-none focus:text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                        <input class="mx-4 w-full border rounded-md px-4 py-2"
                               type="text"
                               placeholder="Search">
                    </div>
                    <div class="flex items-center pr-4">
                        <button class="flex items-center text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l-7-7 7-7m5 14l7-7-7-7" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="p-4" id="page">{{ page|safe }}</div>
            </div>
        </div>
    </body>
</html>
