<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HTMX SSR full example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" value="HTMX SSR full example">
        <meta name="keywords" value="htmx, ssr, example">
        <script src="https://unpkg.com/htmx.org@2.0.3"
                integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="bg-white dark:bg-gray-800 h-full py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
                    <div class="flex items-center gap-12">
                        <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl dark:text-white">My favorite food</h2>
                        <p class="hidden max-w-screen-sm text-gray-500 dark:text-gray-300 md:block">
                            This example demonstrates how to use HTMX SSR in a full example.
                        </p>
                    </div>
                    <a href=""
                       hx-post="/api/food/new"
                       class="inline-block rounded-lg border bg-white dark:bg-gray-700 dark:border-none px-4 py-2 text-center text-sm font-semibold text-gray-500 dark:text-gray-200 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base">
                        Add item
                    </a>
                </div>
                <div id="page">{{ page|safe }}</div>
            </div>
        </div>
    </body>
</html>
